{% extends "base.html" %}

{% block title %} | People {% endblock title %}
{% block bodytags %} data-spy="scroll" data-target=".headers-sidenav"{% endblock bodytags %}
{% block main %}
  <div class="row">
    <div class="offset1 span8">
      <div class="research-unit clearfix">
        <header>
          <img class="pull-right" src="{{ person.picture }}" width="200">
          <h1>{{ person.name }}</h1>
          <p>{{ person.title }}</p>
          <ul class="two-column">
            <li><a href="mailto:{{ person.email }}"><i class="icon-envelope"></i> Email</a></li>
            {% for link in person.links -%}
            <li>
              {%- if link.url -%}
              <a href="{{ link.url }}" target="_blank">{{ link.text }}</a>
              {%- else -%}
              {{ link.text }}
              {%- endif -%}
            </li>
            {% endfor -%}
          </ul>
        </header>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset1 span7">
      <a class="anchor" id="about-me"></a>
      {{ person }}
      {% if person.publications -%}
      <a class="anchor" id="publications"></a>
      <h2>Publications</h2>
      <ul class="icons-ul">
        {% for pub in person.publications -%}
        <li>
          <i class="icon-li icon-file-alt"></i><a href="{{ pub.url }}">{{ pub.title }}</a>
        </li>
        {%- endfor %}
      </ul>
      {% endif -%}
      {%- if person.blogposts -%}
      <a class="anchor" id="blog-posts"></a>
      <h2>Blog Posts</h2>
      <ul class="icons-ul">
        {% for post in person.blogposts -%}
        <li>
          <i class="icon-li icon-comment"></i><a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {%- endfor %}
      </ul>
      {%- endif %}
    </div>
    <div class="offset1 span2">
      <nav>
        <div class="headers-sidenav">
          <ul class="nav nav-tabs nav-stacked">
            <li>
              <a href="#about-me">
                <i class="icon-chevron-left"></i> About me
              </a>
            </li>
            {% if person.publications -%}
            <li>
              <a href="#publications">
                <i class="icon-chevron-left"></i> Publications
              </a>
            </li>
            {%- endif -%}
            {%- if person.blogposts -%}
            <li>
              <a href="#blog-posts">
                <i class="icon-chevron-left"></i> Blog Posts
              </a>
            </li>
            {%- endif %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
{% endblock main %}
