{% extends "base.html" %}

{% block title %} | Publications {% endblock title %}

{% block main %}
  <div class="row">
    <div class="offset1 span7">
      <header>
        <h2>
          {{ publication.title }}
          <h4>
            <span class="journal">{{ publication.journal }}</span>,
            <span class="year">{{ publication.year }}</span>
          </h4>
        </h2>
        <p><em>{{ ', '.join(publication.authors)|safe }}</em></p>
      </header>
      {% if publication.abstract -%}
      <h3>Abstract</h3>
      <p>{{ publication.abstract }}</p>
      {% endif -%}
      {%- if publication.pdf or publication.fulltext or publication.doi or publication.arxiv -%}
      <h3>Full text links</h3>
      {% if publication.pdf -%}
      <p><a href="{{ publication.pdf }}"><i class="icon-external-link-sign"></i>&nbsp;PDF</a></p>
      {% endif -%}
      {%- if publication.fulltext -%}
      <p><a href="{{ publication.fulltext }}"><i class="icon-external-link-sign"></i>&nbsp;External link</a></p>
      {% endif -%}
      {%- if publication.meta.doi -%}
      <p><a href="https://dx.doi.org/{{ publication.meta.doi }}"><i class="icon-external-link-sign"></i>&nbsp;DOI</a></p>
      {% endif -%}
      {%- if publication.meta.arxiv -%}
      <p><a href="https://arxiv.org/abs/{{ publication.meta.arxiv }}"><i class="icon-external-link-sign"></i>&nbsp;arXiv</a></p>
      {% endif -%}
      {% endif -%}
      {% if publication.poster or publication.presentation %}
      <h3>Supplementary information</h3>
      {% if publication.poster -%}
      <p><a href="{{ publication.poster }}"><i class="icon-external-link-sign"></i>&nbsp;Poster</a></p>
      {% endif -%}
      {% if publication.presentation -%}
      <p><a href="{{ publication.presentation }}"><i class="icon-external-link-sign"></i>&nbsp;Presentation</a></p>
      {% endif -%}
      {% endif -%}
      {% if publication.html -%}
      <hr>
      {{ publication }}
      {% endif -%}
    </div>
    <div class="span3">
      <h4>{{ publication.type }}</h4>
      <dl>
        {% for key, val in publication.cite_info.items() %}
          <dt>{{ key.capitalize() }}</dt>
          <dd>{{ val }}</dd>
        {% endfor %}
      </dl>
      <h4>Cite</h4>
      <p>
        <a href="#{{ publication.citekey }}cite"  onclick="showmodaltab('{{ publication.citekey }}', 'pt');">Plain text</a>
      </p>
      <p>
        <a href="#{{ publication.citekey }}cite" onclick="showmodaltab('{{ publication.citekey }}', 'bt');">BibTeX</a>
      </p>
      <p>
        {{ github(publication, extension="bib", spanclass="rightcol-link") }}
      </p>
    </div>
  </div>
  {{ citation_box(publication) }}
{% endblock main %}
